<div class="h-screen flex flex-col justify-center items-center">
  <h1 class="text-2xl mb-2">Passwort zurücksetzen:</h1>
  <p class="w-5/6 text-center mb-1">Möchten Sie ihr Passwort wirklich zurücksetzen?</p>
  <p class="w-5/6 text-center mb-1">Sie erhalten dann im Anschluss eine Email von uns mit einem Code, mit dem Sie ein
    neues Passwort festsetzen können.</p>
  <div class="flex justify-center">
    <form (ngSubmit)="resetPassword()">
      <div class="mx-4">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input [formControl]="resetForm.controls.emailFormControl" id="email" matInput name="email" required
                 type="email">
          <mat-error>Ungültige Email</mat-error>
        </mat-form-field>
      </div>
      <div class="flex justify-center mt-4">
        <div *ngIf="this.loading">
          <mat-spinner [diameter]="48"></mat-spinner>
        </div>
        <div *ngIf="!this.loading" class="flex flex-col items-center w-full">
          <button [disabled]="resetForm.invalid" color="primary" extended mat-fab type="submit">Passwort zurücksetzen
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
