<div class="flex flex-col justify-center items-center h-screen mx-4">
  <mat-card class="max-w-xl min-w-fit h-fit">
    <mat-card-header class="mb-2">
      <mat-card-title>Passwort ändern</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="renewPassword()">
        <div class="mx-4">
          <mat-form-field class="w-full">
            <mat-label>Reset-Code</mat-label>
            <input [formControl]="renewForm.controls.resetTokenFormControl" id="resetCode" matInput name="resetCode"
                   required>
            <mat-error>Gib bitte den Reset-Code an</mat-error>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Neues Passwort</mat-label>
            <input [formControl]="renewForm.controls.passwordFormControl" [type]="hidePassword ? 'password' : 'text'"
                   id="password"
                   matInput
                   name="password" required>
            <button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword" mat-icon-button matSuffix type="button">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error>Gib bitte ein Passwort an</mat-error>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Neues Passwort wiederholen</mat-label>
            <input [formControl]="renewForm.controls.repeatPasswordFormControl"
                   [type]="hideRepeatedPassword ? 'password' : 'text'"
                   id="repeatPassword"
                   matInput
                   name="repeatPassword" required>
            <button (click)="hideRepeatedPassword = !hideRepeatedPassword" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideRepeatedPassword" mat-icon-button matSuffix type="button">
              <mat-icon>{{ hideRepeatedPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error>Bitte wiederhole das Passwort!</mat-error>
          </mat-form-field>
        </div>
        <mat-error
          *ngIf="renewForm.errors?.['passwordMatchError'] && renewForm.controls.repeatPasswordFormControl.getRawValue()"
          class="mb-4">
          Passwörter stimmen nicht überein
        </mat-error>
        <div class="flex justify-center">
          <div *ngIf="this.loading">
            <mat-spinner [diameter]="48"></mat-spinner>
          </div>
          <div *ngIf="!this.loading">
            <button [disabled]="renewForm.invalid" color="primary" extended mat-fab type="submit">Passwort ändern
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
